<div>
  <div class="well">
    <h4>Selecteer de woorden die je wil leren:</h4>
    <div class="form-group">
      Van
      <select [(ngModel)]="selectedWoordVan" (ngModelChange)="onChangeVan($event)" required>
        <option *ngFor="let woord of alleWoorden" [ngValue]="woord">{{woord.id}} - {{woord.term}}</option>
      </select> t/m
      <select [(ngModel)]="selectedWoordTot" required>
        <option *ngFor="let woord of woordenVan" [ngValue]="woord">{{woord.id}} - {{woord.term}}</option>
      </select>
    </div>
    <input type="button" value="start" class="btn btn-primary" (click)="btnStart()" [disabled]="!btnStartEnabled" />
  </div>

  <div *ngIf="leren">
    <p>Lees het woord aandachtig, tik de juiste info in de tekstvakken en als je klaar bent druk dan op volgende. Als je klaar
      bent klik je op de knop Klaar.</p>
    <form [formGroup]="woordForm" (ngSubmit)="onSubmit(woordForm)" novalidate>
      <div>
        <h4 class="form-group">{{selectedWoorden[huidigWoordIndex].term}}</h4>

        <div *ngIf="selectedWoorden[huidigWoordIndex].genus" class="col-md-2">
          <div class="form-group">
            <label class="control-label" for="genus">Genus</label>
            <input class="form-control" formControlName="genus" placeholder="{{selectedWoorden[huidigWoordIndex].genus}}">
          </div>
        </div>

        
        <div class="form-group col-md-5">
          <label class="control-label">Vertaling</label>
          <div formArrayName="vert">
            <div *ngFor="let v of selectedWoorden[huidigWoordIndex].vert;let i = index" [formGroupName]="i">
              <input formControlName="term" type="text" placeholder="{{v.term}}" class="form-control input-md" (blur)="checkVert(i,$event.target.value,$event.target)">
            </div>
          </div>
        </div>
        


        <div class="form-group col-md-5">
          <label class="control-label" for="aanvInf">Aanv. Info</label>
          <div formArrayName="aanvInf">
            <div *ngFor="let a of selectedWoorden[huidigWoordIndex].aanvInf;let i = index" [formGroupName]="i">
                <input formControlName="term" type="text" placeholder="{{a.term}}" class="form-control input-md" (blur)="checkAanvInf(i,$event.target.value,$event.target)">
            </div>
          </div>
          
        </div>


        <div class="col-md-12">
          <div class="form-group">
            <button id="buttonNext" name="buttonNext" class="btn btn-default" type="submit">Next</button>
            <button id="buttonKlaar" name="buttonKlaar" class="btn btn-default disabled" type="submit">Klaar</button>
          </div>
        </div>
      </div>

    </form>


    <!-- <div *ngIf="leren">
    <p>Lees het woord aandachtig, vul de tekstvakken en als je klaar bent druk dan op volgende.</p>
    <div id="woordLeren">
      <form (ngSubmit)="nextWoord(f)" #f="ngForm">
        <p>{{selectedWoorden[huidigWoordIndex].term}}</p>
        <div class="row">
          <div *ngIf="selectedWoorden[huidigWoordIndex].genus" class="col-md-2">
            <div class="form-group">
              <label class="control-label" for="genus">Genus</label>
              <input id="genus" name="genus" type="text" placeholder="{{selectedWoorden[huidigWoordIndex].genus}}" class="form-control input-md"
                (blur)="checkGenus($event.target.value,$event.target)">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label class="control-label" for="vertaling">Vertaling</label>
              <input *ngFor="let v of selectedWoorden[huidigWoordIndex].vert;let i = index" id="vert" name="vert" type="text" placeholder="{{v.term}}"
                class="form-control input-md" (blur)="checkVert(i,$event.target.value,$event.target)">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label class="control-label" for="vertaling">Aanv. Info</label>
              <input *ngFor="let a of selectedWoorden[huidigWoordIndex].aanvInf;let i = index" id="aanvInf" name="aanvInf" type="text"
                placeholder="{{a.term}}" class="form-control input-md" (blur)="checkAanvInf(i,$event.target.value,$event.target)">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <button id="buttonNext" name="buttonNext" class="btn btn-default" type="submit">{{buttonNextText}}</button>
            </div>
          </div>
        </div>
      </form>
    </div> -->

    <div *ngIf="toonResultaat">
      result
    </div>
  </div>