<div>
  <div class="well">
    <h4>Selecteer de woorden die je wil leren:</h4>

    <div class="form-group">
      Van
      <select [(ngModel)]="selectedWoordVan" (ngModelChange)="onChangeVan($event)" required [disabled]="!selectDivEnabled">
        <option *ngFor="let woord of alleWoorden" [ngValue]="woord">{{woord.id}} - {{woord.term}}</option>
      </select> t/m
      <select [(ngModel)]="selectedWoordTot" required [disabled]="!selectDivEnabled">
        <option *ngFor="let woord of woordenVan" [ngValue]="woord">{{woord.id}} - {{woord.term}}</option>
      </select>
    </div>
    <input type="button" value="start" class="btn btn-primary" (click)="btnStart()" [disabled]="!selectDivEnabled"/>

  </div>

  <div *ngIf="leren" class="well">
    <p>Lees het woord aandachtig, tik de juiste info in de tekstvakken en als je klaar bent druk dan op volgende. Als je klaar
      bent klik je op de knop Klaar.</p>

    <form [formGroup]="woordForm" (ngSubmit)="onSubmitNextWoord(woordForm)" novalidate>
      <h4>{{selectedWoorden[huidigWoordIndex].term}}</h4>
      <div *ngIf="selectedWoorden[huidigWoordIndex].genus" class="col-md-2 form-group">
        <div>
          <label class="control-label" for="genus">Genus</label>
          <input class="form-control" formControlName="genus" placeholder="{{selectedWoorden[huidigWoordIndex].genus}}">

        </div>
      </div>

      <div class="col-md-5 form-group">
        <label class="control-label">Vertaling</label>
        <div formArrayName="vert">
          <div *ngFor="let v of selectedWoorden[huidigWoordIndex].vert;let i = index" [formGroupName]="i">
            <input formControlName="term" type="text" placeholder="{{v.term}}" class="form-control input-md" (blur)="checkVert(i,$event.target.value,$event.target)">
          </div>
        </div>
      </div>

      <div class="col-md-5 form-group">
        <label class="control-label" for="aanvInf">Aanv. Info</label>
        <div formArrayName="aanvInf">
          <div *ngFor="let a of selectedWoorden[huidigWoordIndex].aanvInf;let i = index" [formGroupName]="i">
            <input formControlName="term" type="text" placeholder="{{a.term}}" class="form-control input-md" (blur)="checkAanvInf(i,$event.target.value,$event.target)">
          </div>
        </div>
      </div>

      <div class="form-group">
        <button id="buttonNext" name="buttonNext" class="btn btn-primary" type="submit">Next</button>
        <button id="buttonKlaar" name="buttonKlaar" class="btn btn-primary disabled" type="submit">Klaar</button>
      </div>

    </form>
  </div>
  <div *ngIf="toonResultaat" [ngClass]="(aantalBlanks===0)?'alert alert-success':'alert alert-warning'">
    {{resultaatBericht}} Je kan opnieuw naar
    <a id="opnieuwLink" (click)="opnieuwWoordenLeren()">Woorden leren</a>
    of jezelf testen met
    <a routerLink="/latijn/woordenafvragen">Woorden afvragen</a>
  </div>