<div style="float:left" *ngIf="caput">
  <p>
    Woorden van {{caput.naam}}:
  </p>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Woord</th>
        <th>Genus</th>
        <th>Vertaling</th>
        <th>Aanvullende informatie</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let woord of woorden">
        <td>{{woord.id}}</td>
        <td>{{woord.term}}</td>
        <td>{{woord.genus}}</td>
        <td><span *ngFor="let v of woord.vert">{{v.term}} </span></td>
        <td><span *ngFor="let a of woord.aanvInf">{{a.term}} </span></td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <p>Selecteer woorden, of kies voor de hele Caput:</p>
  <div>
    <label><input [(ngModel)]="heleCaput" type="checkbox"/>Hele Caput</label>
  </div>
  <div *ngIf="!heleCaput">
    Van
    <select [(ngModel)]="selectedWoordVan" (change)="change()" required>
  <option *ngFor="let woord of woorden" [ngValue]="woord">{{woord.id}} - {{woord.term}}</option>
</select> t/m
    <select [(ngModel)]="selectedWoordTot" (change)="change()" required>
    <option *ngFor="let woord of woorden" [ngValue]="woord">{{woord.id}} - {{woord.term}}</option>
  </select>
  </div>
  <div *ngIf="selected || heleCaput">
    <button (click)="startWoordenLeren()">Leren</button>
    <button (click)="log()">Afvragen</button>
  </div>
  <div *ngIf="leren">
    <p>Lees het woord aandachtig, als je klaar bent druk dan op de test knop.</p>
    <div id="woorLeren">

    </div>
  </div>

</div>