<div class="container-fluid" *ngIf="caput">
  <h4>
    Woorden van {{caput.naam}}:
  </h4>
  <table class="table-hover table-responsive">
    <thead>
      <tr>
        <th class="col-md-1">#</th>
        <th class="col-md-4">Woord</th>
        <th class="col-md-1">Gen.</th>
        <th class="col-md-4">Vertaling</th>
        <th class="col-md-2">Aanvullende informatie</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let woord of woorden">
        <td class="col-md-1">{{woord.id}}</td>
        <td class="col-md-4">{{woord.term}}</td>
        <td class="col-md-1">{{woord.genus}}</td>
        <td class="col-md-4"><span *ngFor="let v of woord.vert">{{v.term}} </span></td>
        <td class="col-md-2"><span *ngFor="let a of woord.aanvInf">{{a.term}} </span></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <div style="float:left">
  <p>Selecteer woorden, of kies voor de hele Caput:</p>
  <div>
    <label><input [(ngModel)]="heleCaput" type="checkbox" (click)="init()"/>Hele Caput</label>
  </div>
  <div *ngIf="!heleCaput">
    Van
    <select [(ngModel)]="selectedWoordVan" (change)="change()" required>
  <option *ngFor="let woord of woorden" [ngValue]="woord">{{woord.id}} - {{woord.term}}</option>
</select> t/m
    <select [(ngModel)]="selectedWoordTot" (change)="change()" required>
    <option *ngFor="let woord of woorden" [ngValue]="woord">{{woord.id}} - {{woord.term}}</option>
  </select>
  </div>
  <div *ngIf="selected || heleCaput">
    <button (click)="startWoordenLeren()">Leren</button>
    <button (click)="log()">Afvragen</button>
  </div>
  <div *ngIf="leren">
    <p>Lees het woord aandachtig, vul de tekstvakken en als je klaar bent druk dan op volgende.</p>
    <div id="woorLeren">
        <form>
            
            <p>{{selectedWoorden[huidigWoordIndex].term}}</p>
            <div class="row">
                <div *ngIf="selectedWoorden[huidigWoordIndex].genus" class="col-md-2">
                    <div class="form-group">
                        <label class="control-label" for="genus">Genus</label>
                        <input id="genus" name="genus" type="text" placeholder="{{selectedWoorden[huidigWoordIndex].genus}}" class="form-control input-md"
                           (blur)="checkGenus($event.target.value,$event.target)">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label" for="vertaling">Vertaling</label>
                        <input *ngFor="let v of selectedWoorden[huidigWoordIndex].vert;let i = index" id="vert" 
                              name="vert" type="text" placeholder="{{v.term}}" class="form-control input-md" (blur)="checkVert(i,$event.target.value,$event.target)">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label" for="vertaling">Aanv. Info</label>
                        <input *ngFor="let a of selectedWoorden[huidigWoordIndex].aanvInf;let i = index" id="aanvInf"
                           name="aanvInf" type="text" placeholder="{{a.term}}" class="form-control input-md" (blur)="checkAanvInf(i,$event.target.value,$event.target)">
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group">
                        <button id="buttonNext" name="buttonNext" class="btn btn-default" (click)="nextWoord(this.form)">Volgende</button>
                    </div>
                </div>
            </div>
        </form>
        
        
    </div>
  </div>

</div> -->