<div style="float:left" *ngIf="caput">
  <p>
    Woorden van {{caput.naam}}:
  </p>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Woord</th>
        <th>Genus</th>
        <th>Vertaling</th>
        <th>Aanvullende informatie</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let woord of woorden">
        <td>{{woord.id}}</td>
        <td>{{woord.term}}</td>
        <td>{{woord.genus}}</td>
        <td>{{woord.vert}}</td>
        <td>{{woord.aanvInf}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>

</div>